rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function roomParticipant() {
      return signedIn() &&
        request.auth.uid in resource.data.participantUids;
    }

    function roomParticipantById(roomId) {
      return signedIn() &&
        request.auth.uid in
        get(
          /databases/$(database)/documents/rooms/$(roomId)
        ).data.participantUids;
    }

    match /products/{id} {
      allow read: if (
        resource.data.visibility == 'public' &&
        (
          resource.data.status == 'available' ||
          resource.data.status == 'in_transaction'
        )
      ) || (
        signedIn() &&
        resource.data.sellerUid == request.auth.uid
      );

      allow write: if false;
    }

    match /sellers/{uid} {
      allow read: if (
        resource.data.status == 'approved' &&
        resource.data.banned != true
      );

      allow write: if false;
    }

    match /sellerApplications/{uid} {
      allow read, write: if false;
    }

    match /orders/{id} {
      allow read, write: if false;
    }

    match /payments/{id} {
      allow read, write: if false;
    }

    match /rooms/{id} {
      allow get: if roomParticipant();

      allow list: if (
        signedIn() &&
        request.auth.uid in resource.data.participantUids
      );

      allow create, update, delete: if false;

      match /messages/{mid} {
        allow get, list: if roomParticipantById(id);

        allow create: if (
          roomParticipantById(id) &&
          request.resource.data.senderUid == request.auth.uid
        );

        allow update, delete: if false;
      }
    }

    match /notifications/{id} {
      allow read: if (
        signedIn() &&
        resource.data.toUid == request.auth.uid
      );

      allow write: if false;
    }

    match /settings/{id} {
      allow read: if id == 'main';

      allow write: if false;
    }

    match /users/{uid} {
      allow read: if (
        signedIn() &&
        request.auth.uid == uid
      );

      allow write: if false;
    }

    match /admins/{uid} {
      allow read, write: if false;
    }
  }
}
